**/.git/
*
.*

!.gitignore
!.gitattributes

!README.md

!hmcl/
!hmcl/debian/
!hmcl/debian/**

!podman-desktop/
!podman-desktop/debian/
!podman-desktop/debian/**

!prismlauncher/
!prismlauncher/debian/
!prismlauncher/debian/**

!man_pages/
!man_pages/**